
/* External CSS */

/* Styling of the navigation bar */
nav {
    font-size: 22px;
    margin-top: -1%;
    text-align: center;
    padding: 10px;
    width:100%
    
}

/* Styling of the anchor tags/ links */
a:link{
      color:darkblue;
}
a:visited{
    color: black;
}
a:hover{
    color:white;
}
a:active{
    color:deeppink;
}
